html {
  padding: 40px 0;
}
body {
  font-family: -apple-system, "Segoe UI", sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: #4C93DE;
}
a:hover {
  color: #2D7BCC;
}

h1 {
  font-weight: normal;
}
h1 .main {
  font-family: Futura, "Segoe UI", sans-serif;
  color: #575757;
  font-size: 44px;
  margin: 20px auto 5px auto;
}
h1 .sub {
  color: #aaa;
  width: 400px;
  font-size: 22px;
  margin: 20px auto 60px auto;
}

.app {
  width: 300px;
  margin: auto;
}

.app-store {
  display: inline-block;
  margin: 10px auto 18px auto;
  background: url('/images/app-store.svg') no-repeat;
  background-size: 100% 100%;
  width: 135px;
  height: 40px;
  color: transparent;
}

/* Device Frames */
.iPhone-6 {
  width: 435px;
  height: 890px;
  margin: auto;
  background-image: url('/images/iphone-6.jpg');
  background-size: 100% 100%;
  position: relative;
}
.iPhone-6 .carousel {
  width: 375px;
  height: 667px;
  position: absolute;
  top: 110.5px;
  left: 29.5px;
}
.iPhone-6 .carousel div {
  width: 100%;
  height: 100%;
}
.iPhone-6 .carousel div img {
  width: 100%;
}

/* From iTunes Connect */
.ios7-style-icon {
  height: 256px;
  width: 256px;
  margin: auto;
  border-radius: 22%;
  -webkit-mask-image: url('/images/ios7-icon.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  background-size: 100% 100%;
}
.ios7-style-icon::after {
  content: " ";
  display: block;
  background: url('/images/ios7-icon-border.svg');
  height: 100%;
  width: 100%;
  opacity: 0.05;
}

.ios7-style-icon-128 {
  height: 128px;
  width: 128px;
  margin: auto;
  border-radius: 22%;
  -webkit-mask-image: url('/images/ios7-icon.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  background-size: 100% 100%;
}
.ios7-style-icon-128::after {
  content: " ";
  display: block;
  background: url('/images/ios7-icon-border.svg');
  height: 100%;
  width: 100%;
  opacity: 0.05;
}

.mac-icon {
  height: 140px;
  width: 140px;
  margin: -6px -6px auto -6px;
  background-size: 100% 100%;
}

.screenshot {
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}
.coming {
  margin-top: 60px;
  color: #575757;
  font-family: Futura, "Segoe UI", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
}
abbr {
  border-bottom: 2px dashed #ddd;
  cursor: help;
}

form.subscribe {
  width: 300px;
  border-radius: 20px;
  background-color: #f3f3f3;
  margin: 50px auto;
  padding: 12px 20px 20px 20px;
}
form.subscribe label {
  font-weight: bolder;
  color: #444;
}
form.subscribe input[type="text"] {
  width: 90%;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  border: 0;
  padding: 10px 16px;
  color: #666;
}
form.subscribe input[type="submit"] {
  -webkit-appearance: none;
  width: 120px;
  border-radius: 3px;
  border: 0;
  background-color: #4C93DE;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  height: 36px;
  cursor: pointer;
}
form.subscribe input[type="submit"]:hover {
  background-color: #5CA3EE;
}
form.subscribe input[type="submit"]:active {
  background-color: #2D7BCC;
}

footer {
  margin-top: 20px;
  font-size: 15px;
  color: #bbb;
}
footer p {
  margin: .6em 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@media only screen and (max-device-width: 480px) {
  html {
    padding: 15px 0;
  }
  h1 .sub {
    font-size: 19px;
    width: 300px;
    margin-bottom: 40px;
  }
  .screenshot {
    max-width: 100%;
  }
  .coming {
    margin-top: 40px;
  }

  /* Device Frames */
  .iPhone-6 {
    max-width: 100%;
    height: 0;
    padding-bottom: 180%;
    background: none;
  }
  .iPhone-6 .carousel {
    max-width: 100%;
    position: static;
    margin: auto;
  }
}
