html {
  padding: 40px 0;
}
body {
  font-family: -apple-system, sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: #4C93DE;
}
a:hover {
  color: #2D7BCC;
}

h1 {
  font-weight: normal;
}
h1 .main {
  font-family: Futura;
  color: #575757;
  font-size: 44px;
  margin: 20px auto 5px auto;
}
h1 .sub {
  color: #aaa;
  width: 420px;
  font-size: 22px;
  margin: 20px auto 24px auto;
}

form.subscribe {
  width: 300px;
  border-radius: 20px;
  background-color: #f3f3f3;
  margin: 50px auto;
  padding: 12px 20px 20px 20px;
}
form.subscribe label {
  font-weight: bolder;
  color: #444;
}
form.subscribe input[type="text"] {
  width: 90%;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  border: 0;
  padding: 10px 16px;
  color: #666;
}
form.subscribe input[type="submit"] {
  width: 120px;
  border-radius: 3px;
  border: 0;
  background-color: #4C93DE;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  height: 36px;
  cursor: pointer;
}
form.subscribe input[type="submit"]:hover {
  background-color: #5CA3EE;
}
form.subscribe input[type="submit"]:active {
  background-color: #2D7BCC;
}

footer {
  margin-top: 60px;
  font-size: 15px;
  font-weight: bolder;
  color: #bbb;
}
footer p {
  margin: .6em 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@media only screen and (max-device-width: 480px) {
  html {
    padding: 20px 0;
  }
  h1 .sub {
    width: 300px;
  }
}
