<!DOCTYPE html>
<html>

<head>
    <title>{{ page.app.name }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/expense.css">
    <meta name="viewport" content="user-scalable=no, width=device-width">
</head>

<body>
    <h1>
        <p class="main">Expense</p>
        <p class="sub">After trying all the expense tracking apps, we decided to create our own.</p>
    </h1>

    <div id="iOS" class="app">
        <img class="icon" src="/images/expense.png">
    </div>
    <p class="coming">Coming <abbr title="We hope so! 😂">late 2015</acronym></p>

    <footer>
        <p>By <a href="https://twitter.com/xhacker" target="_blank">@xhacker</a> and <a href="https://twitter.com/aquarhead" target="_blank">@AquarHEAD</a></p>
        <p>© 2015 <a href="http://ela.build" target="_blank">Ela Workshop</a></p>
    </footer>
</body>

</html>
